.tieude {color: red; font-weight: bold; font-size; 25pt}
.noidung {color: black; font-style: normal; font-size: 14pt;}
.border {
display: flex;
flex-direction: column;
height: 100vh;
}
.header {
flex: 15%
  
}
.menu {
flex: 5%
  
}
.content {
flex: 70%
  
}
.footer {
flex: 10%

}
